body {
	background: #fff;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

tr:nth-child(even) {background: #EFEFEF}
tr:nth-child(odd) {background: #FFF}

tr:hover {
	background: #fff380;
}

td {
	text-align: center;
}

span.vote > a {
	padding: 0 5px 0 5px;
	font-weight: bold;
}

a.plus {
	background: #CBF2DB;
	color: green;
}

a.minus {
	background: #F2DED0;
	color: orange;
}