<div class="grid grid-pad">
    <div class="col-1-1">
        <div class="content">
            <h2>Hello Deduplication!</h2>
            <p>{{.total}} similarities found (o={{.offset}})</p>
            <p><a href="/o/0">first</a> | <a href="/o/{{.previous}}">previous</a> | <a href="/o/{{.next}}">next</a> | <a href="/o/{{.last}}">last</a></p>
            <table cellpadding="5">
              <thead>
                <tr>
                  <th></th>
                  <th>Finc ID</th>
                  <th>Finc ID</th>
                  <th>Title</th>
                  <th>Subtitle</th>
                  <th>Combined</th>
                  <th>Authors</th>
                  <th>Yes, valid</th>
                  <th>No, invalid</th>
                </tr>
              </thead>                
            {{range .sims}}
                <tr id="{{.Left}}-{{.Right}}">
                    <td><a href="http://139.18.19.111:3000/s/{{.Left}}-{{.Right}}">Details</a></td>
                    <td><a href='https://katalog.ub.uni-leipzig.de/Record/{{printf "%010d" .Left}}'>{{.Left}}</a></td>
                    <td><a href='https://katalog.ub.uni-leipzig.de/Record/{{printf "%010d" .Right}}'>{{.Right}}</a></td>
                    <td>{{printf "%0.4f" .Title}}</td>
                    <td>{{printf "%0.4f" .Subtitle}}</td>
                    <td>{{printf "%0.4f" .Combined}}</td>
                    <td>{{printf "%0.4f" .Authors}}</td>
                    <td><span class="vote"><a class="plus" href="#">+1</a></span></td>
                    <td><span class="vote"><a class="minus" href="#">-1</span></td>
                </tr>
            {{end}}
            </table>
        </div>
    </div>
</div>
